/* .container {
    max-width: 960px; 
    margin: 0 auto;
  } */


  .grid {
    max-width: 720px;
    /* max-height: 1080px;  */
    margin: 0 auto;
    border: 2px solid black;
    padding-left: 2%;
    justify-content: space-evenly;
    display: inherit;
    font-size: 12px;

  }
  
  #headings {
    text-align: center;
    justify-content: center;
  }
  .footer {
    text-align: center;
    justify-content: center;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid black;
    /* background-color: var(--text-color); */
    color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  /*
  .grid {
    max-width: 960px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } 
  
  .display-item {
    width: calc(30%); 
    border: 2px solid black;
    padding: 0.2%;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .quantityspan {
    width: calc(25%);
    font-size: medium;
  }
  .namespan {
    width: calc(75%);
    font-size: medium;
  } */
  /* Add more CSS styles as needed */